---
import Layout from "@/layouts/Layout.astro";
import { getPosts } from "@/utils/getPosts";
import { getSortedPosts } from "@/utils/getSortedPosts";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import PostCard from "@/components/PostCard.astro";
import { SITE_TITLE } from "@/config";

const posts = await getPosts();
const sortedPosts = getSortedPosts(posts);
---

<Layout title={SITE_TITLE}>
  <Header />
  <main class="mx-auto w-full max-w-3xl px-4 pb-20 pt-6">
    <section>
      {
        sortedPosts.map((post) => {
          return <PostCard post={post} />;
        })
      }
    </section>
  </main>
  <Footer />
</Layout>
