<footer class="footer footer-center mt-auto bg-base-200 py-6 text-base-content">
  <aside>
    <p>
      © 2024 <a href="https://twitter.com/ptrst102" class="link">@ptrst102</a>
    </p>
  </aside>
</footer>
