---
import { Icon } from "astro-icon/components";
---

<footer class="footer footer-center mt-auto bg-base-200 py-6 text-base-content">
  <nav>
    <div class="grid grid-flow-col gap-4">
      <a href="https://twitter.com/ptrst102" class="link"
        ><Icon name="simple-icons:x" class="h-6 w-6" /></a
      >
      <a href="https://github.com/ptrst102/ptrst102-blog" class="link"
        ><Icon name="simple-icons:github" class="h-6 w-6" /></a
      >
    </div>
  </nav>
  <aside>
    <p>Copyright © 2024 - All right reserved</p>
  </aside>
</footer>
