---
import { BLOG_TITLE } from "@/config";
---

<header
  class="flex h-16 items-center justify-center bg-neutral text-neutral-content shadow-lg"
>
  <a href="/" class="text-2xl font-extrabold hover:underline">{BLOG_TITLE}</a>
</header>
