---
import { Image } from "astro:assets";
import logo from "@/assets/logo.svg";
import { Icon } from "astro-icon/components";
---

<header class="sticky top-0 z-10 h-16 w-full px-4">
  <div
    class="mx-auto flex h-full w-full max-w-6xl items-center justify-between gap-4"
  >
    <label
      for="my-drawer"
      role="button"
      aria-controls="drawer"
      class="btn btn-square lg:hidden"
      aria-label="メニューを開く"
    >
      <Icon name="ic:baseline-density-medium" class="h-5 w-5" />
    </label>
    <div class="flex-1">
      <a href="/">
        <Image src={logo} alt="ptrst102どっとこむ" class="h-8 w-auto" />
      </a>
    </div>
  </div>
</header>
