---
import { BLOG_TITLE } from "@/config";
---

<header class="navbar bg-neutral text-neutral-content shadow-lg">
  <section class="mx-auto w-full max-w-screen-sm">
    <div class="flex items-end justify-between">
      <a href="/" class="text-2xl font-extrabold hover:underline"
        >{BLOG_TITLE}</a
      >
    </div>
  </section>
</header>
