---
import { twMerge } from "tailwind-merge";
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
  small?: boolean;
}
const { name, small = false } = Astro.props;
---

<a
  href={`/tag/${encodeURI(name)}`}
  class={twMerge("btn btn-secondary gap-0.5", small ? "btn-xs" : "btn-sm")}
>
  <Icon name="ic:baseline-tag" />
  {name}
</a>
