---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Tag from "@/components/Tag.astro";
import { SITE_TITLE } from "@/config";
import Drawer from "@/layouts/Drawer.astro";
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import { getPosts } from "@/utils/getPosts";
import { getUniqueTags } from "@/utils/getUniqueTags";

const posts = await getPosts();
const tags = getUniqueTags(posts);
---

<Layout title=`タグ一覧 | ${SITE_TITLE}`>
  <Drawer>
    <Header />
    <Main title="タグ一覧" description="当ブログで使用されているタグ一覧です。">
      <div class="space-x-1">{tags.map((tag) => <Tag name={tag} />)}</div>
    </Main>
    <Footer />
  </Drawer>
</Layout>
