---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { BLOG_TITLE } from "@/config";
import { SEO } from "astro-seo";

interface Props {
  title: string;
  seo: SEOProps;
}

interface SEOProps {
  openGraph: {
    type: string;
    image?: string;
  };
}

const { title, seo } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <SEO
      title={`${title} | ${BLOG_TITLE}`}
      charset="UTF-8"
      openGraph={{
        basic: {
          title,
          type: seo.openGraph.type,
          image: seo.openGraph.image ?? "",
        },
        article: {
          authors: ["ptrst102"],
        },
        image: {
          alt: title,
        },
      }}
      twitter={{
        card: "summary_large_image",
        title,
        creator: "@ptrst102",
      }}
      extend={{
        link: [
          { rel: "icon", href: "/favicon.ico" },
          { rel: "sitemap", href: "/sitemap-index.xml" },
        ],
        meta: [
          { name: "viewport", content: "width=device-width" },
          { name: "generator", content: Astro.generator },
          { name: "format-detection", content: "telephone=no" },
        ],
      }}
    />
  </head>
  <body>
    <Header />

    <main class="mx-auto my-2 w-full max-w-screen-sm">
      <slot />
    </main>

    <Footer />
  </body>
</html>
