---
import { SEO } from "astro-seo";

interface Props {
  title: string;
  description?: string;
  openGraphType?: "website" | "article";
  openGraphImage?: string;
}

const {
  title,
  description = "ptrstのブログです。",
  openGraphType = "website",
  openGraphImage = "",
} = Astro.props;
---

<!doctype html>
<html lang="ja" class="overflow-y-scroll">
  <head>
    <SEO
      title={title}
      description={description}
      charset="UTF-8"
      openGraph={{
        basic: {
          title,
          type: openGraphType,
          image: openGraphImage,
        },
        article: {
          authors: ["ptrst102"],
        },
        image: {
          alt: title,
        },
      }}
      twitter={{
        card: "summary_large_image",
        title,
        creator: "@ptrst102",
      }}
      extend={{
        link: [
          { rel: "icon", href: "/favicon.ico" },
          { rel: "sitemap", href: "/sitemap-index.xml" },
        ],
        meta: [
          { name: "viewport", content: "width=device-width" },
          { name: "generator", content: Astro.generator },
          { name: "format-detection", content: "telephone=no" },
        ],
      }}
    />
  </head>
  <body class="flex min-h-screen flex-col">
    <slot />
  </body>
</html>
