---
interface Props {
  title: string;
  description?: string;
}

const { title, description = "" } = Astro.props;
---

<main class="mx-auto w-full max-w-3xl px-4 pb-20 pt-6">
  <h1 class="mb-2 text-3xl font-bold lg:text-4xl">{title}</h1>
  <p class="prose mb-4">{description}</p>
  <slot />
</main>
