---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Layout from "./Layout.astro";
import Main from "./Main.astro";
import { SITE_TITLE } from "@/config";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE_TITLE}`}>
  <Header />
  <Main title={frontmatter.title} description={frontmatter.description}>
    <div class="prose">
      <slot />
    </div>
  </Main>
  <Footer />
</Layout>
